body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #3e2dd3;
	font-family: "Source Sans 3", sans-serif;
}

.container__title {
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
}
.container_log_btns {
	position: relative;
	display: flex;
	align-content: center;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	margin: 10px;
}
.container_log_btns button {
	font-family: Arial;
	padding: 6px 12px;
	border: none;
	border-radius: 8px;
	color: white;
	font-weight: 400;
	cursor: pointer;
	text-align: center;
}

@media (hover: hover) {
	.container_log_btns button:hover {
		opacity: 0.7;
	}
}

.container_log_btns button::selection {
	opacity: 0.7;
}

.login {
	background: #5577ce;
}

.logout {
	background: #dd2727;
}
.padre_contenedor {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: auto;
	max-width: 1100px;
}

.contenedor {
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 1px 3px #111;
	background-color: #d9d8d8;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: space-between;
}

.contenedor_info {
	display: flex;
	align-content: center;
	align-items: center;
}
.contenedor_info img {
	max-width: 70px;
	margin: 10px 20px;
	height: 70px;
	object-fit: cover;
	border-radius: 1000px;
}

.container_info-text {
	text-align: left;
}

.text_name {
	font-weight: bold;
	font-size: 1.3em;
}
.text_number {
	font-size: 1em;
}

.loading {
	font-size: 2rem;
	text-align: center;
}
