.btn_newContact {
	margin: auto;
	max-width: 350px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #bbf224;
	border: 2px solid #6b8d0c;
	padding: 5px 10px;
	cursor: pointer;
}

.container_form_add {
	margin: auto;
	margin-bottom: 40px;
	background-color: #eee;
	border-radius: 10px;
	text-align: center;
	max-width: 450px;
}

.form_add {
	padding: 25px;
	padding-top: 5px;
}

.btn_send {
	background-color: #b9fc01;
	border: 1px solid #6b8d0c;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 15px;
	cursor: pointer;
}

.container__input {
	display: flex;
	margin: 8px 0;
}
.container__input input {
	margin-left: 5px;
}
